* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:rgb(0, 54, 153) ;
  color: white;
}


#emcima{
    background-color: rgb(0, 62, 179);
  width: 100%;

}


#embaixo{
    background-color: rgb(0, 62, 177);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

